{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
          <h1 class="text-center">Connexion</h1>
        </div>
        <div class="col-2"></div>
      </div>

      <form class="form-signin">
        <div class="form-label-group">
          <label for="inputLogin" class="mx-sm-3">Login</label>
          <input type="text" id="inputLogin" class="form-control mx-sm-3 w-25" placeholder="Login" required autofocus>
        </div>
        <div class="form-label-group ">
          <label for="inputPassword" class="mx-sm-3">Password</label>
          <input type="password" id="inputPassword" class="form-control mx-sm-3 w-25" placeholder="Password" aria-describedby="passwordHelp" required>
          <small id="passwordHelp" class="text-muted mx-sm-3">
            Must be 8-20 characters long.
          </small>
        </div>
        <div class="form-check mb-3 mx-sm-3">
          <label >
          <input type="checkbox" class="form-check-input" value="remember-me">
            Remember me
          </label>
        </div>
        <button type="submit" class="btn btn-primary mx-sm-3">Sign in</button>
      </form>
    </div>
{% endblock %}